* {
  border: none;
  border-radius: 18px;
  min-height: 0;
  font-family: JetBrainsMono Nerd Font;
  font-size: 15px; /* Slightly smaller for compactness */
}

window#waybar {
  background-color: rgba(0,0,0,0.8);
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.5;
}

#workspaces {
  /* margin: 3px 3px; */
  padding: 0;
}

#workspaces button {
  padding: 0px 15px; /* reduced vertical padding */
  /* margin: 0px 0px; */
  background-color: #000000;
  color: #cdcdcd;
  font-size: 15px;
  border-radius: 0px;
  /* border: 2px solid #ffffff; */
  opacity: 1;
}

#workspaces button.active,
#workspaces button:hover {
  color: #000000;
  background-color: #cacacd;
}

#workspaces button.urgent {
  background-color: #f38ba8;
}

#memory,
#custom-power,
#battery,
#backlight,
#pulseaudio,
#network,
#bluetooth,
#cpu {
  border-radius: 0px;
  /* border: 2px solid #ffffff; */
  /* margin: 3px 3px; */
  padding: 0px 15px;  /* less vertical, enough horizontal */
  font-size: 15px;
  background-color: #000000;
  color: #cdcdcd;
  opacity: 1;
}

#tray {
  margin: 0px 0px;
  padding: 0px 15px;  /* less vertical, enough horizontal */
  font-size: 15px;
  background-color: #000000;
  color: #cdcdcd;
  border-radius: 0 0 18 0px;
  /* border: 2px solid #ffffff; */
  opacity: 1;
}

#custom-notify {
  border-radius: 0 0 0 18px;
  padding: 0px 15px;
  /* margin: 3px 3px; */
  font-size: 15px;
  background-color: #000000;
  color: #cdcdcd;
  /* border: 2px solid #ffffff; */
  opacity: 1;
}

#clock {
  background-color: #000000;
  color: #cdcdcd;
  padding: 0px 15px;
  /* margin: 0px 3px; */
  font-size: 15px;
  font-family: JetBrainsMono Nerd Font;

  border-radius: 0 0 18px 18px; /* Only bottom corners rounded */
  /* border-bottom: 2px solid #ffffff; */
  /* border-left: 2px solid #ccccff; */
  /* border-right: 2px solid #ccccff; */
  opacity: 1;
}
#custom-notify {
  padding-right: 20px;
}

#custom-power {
  margin-right: 5px;
}

#clock {
  font-family: JetBrainsMono Nerd Font;
}

tooltip {
  border-radius: 6px;
  padding: 8px;
  background-color: #000000;
}

tooltip label {
  padding: 4px;
  background-color: #000000;
}

#tray menu * {
  font-size: 15px;
}
